@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* You can add global styles to this file, and also import other style files */
.loginModalDialog {
    height: 100px;
    width: 100%;
    background-color: white;
}